<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--配置A对象创建-->
    <bean id ="a" class="com.zhangtao.springcloud.circulardepend.A" scope="singleton">
        <property name="b" ref="b"/>
    </bean>

    <!--配置B对象创建-->
    <bean id ="b" class="com.zhangtao.springcloud.circulardepend.B" scope="singleton">
        <property name="a" ref="a"/>
    </bean>

</beans>